body {
    background-color: #eaffd0;
}

.container {
    display: block;
    width: 800px;
    margin: 0 auto;
}

/* just header */
header {
    margin-bottom: 1em;
}

/* hello to user when logged in */
.hello {
    font-size: 2em;
}

/* div class in the header */
.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(57px, auto);
    grid-gap: 20px;
}

.header > div:nth-child(1), .header > div:nth-child(2), .header > div:nth-child(3) {
    grid-column: 1/6;
}

/* logo as picture */
#homepage_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* link to start page */
#homepage {
    padding: 5px;
    border-radius: 5px;
    font-family: Lucida, sans-serif;
    font-size: 140%;
    text-align: left;
    color: #fff;
    text-shadow: 3px 3px 5px #000000;
    -webkit-text-stroke: 2px #ff75a0;
    box-shadow: inset 0 -1px 30px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    1px 1px 5px 5px rgba(0, 0, 0, 0.3);
}

/* link to start page when hover over it */
#homepage:hover {
    color: #ff75a0;
}

/* active buttons in header */
.active_button_header {
    box-shadow: inset 0 -1px 30px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    10px 10px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #000000;
    text-shadow: 1px 1px #ff75a0;
    -webkit-text-stroke: 1px #000000;
    padding: 0.5em;
    justify-self: center;
    align-self: center;
    background: #fce38a;
}

/* active buttons in header when hover over them */
.active_button_header:hover {
    box-shadow: inset 0 -1px 30px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    10px 10px 5px rgba(0, 0, 0, 0.3);
    padding: 0.9em;
    justify-self: center;
    background: #ff75a0;
}

.grey_button_header {
    box-shadow: inset 0 -1px 30px #fff,
    0 0 0 3px #fff,
    2px 2px 3px #fff;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px #000;
    -webkit-text-stroke: 1px #000;
    padding: 0.5em;
    justify-self: center;
    align-self: center;
    background: #fce38a;
    cursor: default;
}




/* section in body*/
section {
    background: #95e1d3;
    padding: 1em;
}

/* box for question, answer and comment*/
.box {
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-bottom: 3em;
    border-bottom: solid;
}

/* all divs inside div with class 'box' */
.box > div {
    padding: 5px;
}

/* div with class 'box_title' inside div with class 'question' */
.question > .box_title {
    background: #fce38a;
}


/* fourth div inside div with class 'box' edit and delete*/
.box > div:nth-child(4) {
    text-align: center;
}

.box_title {
    margin: 0 2% 0 6%;
}

.box_title > p {
    margin: 1% 2% 1% 1%;
    font-size: 120%;
    text-align: left;
}

.author {
    justify-self: start;
}

.box_vote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1/3;
    justify-self: end;
    width: 115px;
}

.box_edit_delete > div {
    padding: 2px;
}

.question {
    margin-left: 2%;
}

.comment_for_question {
    margin-left: 22%;
}

.answer {
    margin-left: 8%;
}

.answer > .box_message {
    font-size: 110%;
}

.comment_for_answer {
    margin-left: 22%;
}

p {
    color: #000000;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 110%;
}

pre {
    color: #fce38a;
}

a {
    color: #000000;
    text-shadow: 1px 1px #ff75a0;
    -webkit-text-stroke: 1px #000000;
}

a:hover {
    color: #95e1d4;
    text-shadow: 1px 1px #95e1d4;
    -webkit-text-stroke: 1px #95e1d4;
}

.link {
    color: #000;
    text-shadow: 1px 1px #000;
    -webkit-text-stroke: 1px #000;
}

.link:hover {
    color: #fff;
    text-shadow: 1px 1px #000;
    -webkit-text-stroke: 1px #000;
}

.add_answer_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* links for question in 'questions.html' */
.questions {
    box-shadow: inset 0 -1px 30px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    10px 10px 5px rgba(0, 0, 0, 0.3);
    font-family: Dejavu, sans-serif;
    background: #fce38a;
    cursor: pointer;
    color: #000000;
    text-shadow: 1px 1px #ff75a0;
    -webkit-text-stroke: 1px #000000;
    text-decoration: underline;
    min-height: 30px;
    line-height: 30px;
}

.questions:hover {
    color: #95e1d4;
    text-shadow: 1px 1px #95e1d4;
    -webkit-text-stroke: 1px #95e1d4;
    text-decoration: underline;
    min-height: 30px;
    font-weight: bold;
    font-size: 110%;
}


button {
    box-shadow: inset 0 -1px 30px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgb(255, 255, 255),
    10px 10px 5px rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 40px;
    background-color: #ff75a0;
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    margin: 2px 2px;
    cursor: pointer;
}

.grey_button_section {
    box-shadow: inset 0 -1px 30px #fff,
    0 0 0 3px #fff,
    5px 5px 3px #000;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px #000;
    -webkit-text-stroke: 1px #000;
    padding: 0.5em;
    justify-self: center;
    align-self: center;
    background: #fce38a;
    cursor: default;
}

/* mainly for buttons in 'question.html' */
span {
    display: block;
    margin: 3em;
    text-align: right;
}

textarea {
    border-radius: 10px;
    width: 700px;
    height: 300px;
}

em {
    font-weight: lighter;
    font-size: 80%;
}

li {
    padding-bottom: 10px;
}

.svg {
    width: 14px;
    padding: 4px;
}

/* footer of the page in 'base.html' */
footer > * {
    padding-top: 2em;
    font-size: 0.8em;
    text-align: end;
}

.users_table {
    border-collapse: collapse;
}

td {
    border: 2px solid;
}

/*# sourceMappingURL=style.css.map */
