{% extends 'base.html' %}
{% block body %}

    {% if user %}
        <form action="{{ url_for('add_question') }}"
              method='post'
              enctype="multipart/form-data"
              id="add_question_form">
            <label>
                Title:
                <br>
                <input type="text"
                       name="title"
                       autocomplete="off">
            </label>
            <br><br>
            <label>
                Ask Your Question:
                <br>
                <textarea name="message"></textarea>
            </label>
            <br><br>
            <input type="file" name="image">
            <br><br>
            <input type="submit" value="Save">
        </form>
    {% else %}
        <h1>Sorry, page not found...</h1>
    {% endif %}




{% endblock %}